*{
    box-sizing: border-box;
}
#Google{
    color: #80868b;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: 22px;
    vertical-align: middle;
    cursor: pointer;
}
#Drive{
    color: #5f6368;
    font-family: "Product Sans",Arial,Helvetica,sans-serif;
    font-size: 22px;
    vertical-align: middle;
    font-weight: 400px;
    cursor: pointer;
}
.col-md-2{
    padding: 7px;
}
.col-md-6 span{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    color: #5f6368;
    vertical-align: middle;
    height: 64px;
    margin: 10px;
    padding-top: 23px;
    cursor: pointer;
    transition: 0.5s;
}
.col-md-6 span:hover{
    background-color: lightgray;
}
.col-md-6 div{
    margin-top: 18px;
}
.gotodrive{
    border: 1px solid lightgray;
    border-radius: 6px;
    color: #1a73e8;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px 10px 24px;
    text-align: center;
    margin: 8px ;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.5s;
}
.gotodrive:hover{
    background-color: #1a73e8;
    color: white;
}
.col-md-4{
    margin-top: 12px;
    padding-top: 10px;
}
.bluebox{
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #1a73e8;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px 10px 24px;
    text-align: center;
    margin: 8px 0;
    vertical-align: middle;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.5s;
}
.bluebox:hover{
    background-color: white;
    color: #1a73e8;
    border: 1px solid lightgray;
}
.upperbuttons{
    float: right;
}
img{
    max-width: 100%;
    height: auto;
}
.Heading{
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: 56px;
    padding-top: 80px;
}
.content{
    color: #5f6368;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.8;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.row{
    margin-bottom:100px;
    position: relative;
}
.buttons{
    float: left;
    clear:both;
    margin-bottom: 20px;
}
#imageicon{
    margin-top: 20px;
    margin-right: 400px;
}
.Heading2{
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -.25px;
    line-height: 44px;
    padding-top: 20px;
}
.learnmore{
    margin-right: 333px;
    margin-bottom: 20px;
}
#Experiencelinks{
    text-align: center;
    vertical-align: middle;
    background: url("https://kstatic.googleusercontent.com/files/c744ed1513f2b6754c51cc8c4630b68f83c552b799ccfac46466452fe03925112ca1c55005808c0fe6927408445b4581de3ef5501ba67cca83de3bbd52a7064d") no-repeat right center;
    border-top: 1px solid lightgray;
    padding-top: 120px;
    background-size: contain;
}
.Heading3{
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: 56px;
    padding-bottom: 20px;
}
.content3{
    color: #5f6368;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.8;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 47.9%;
    text-align: center;
    margin: auto;
}
#gotogdrive{
    color: #1a73e8;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    word-wrap: break-word;
    font-weight: 300;
    line-height: 1.444;
    padding: 30px;
    font-size: 18px;
    transition: 00.5s;
    cursor: pointer;
    width:20%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
#gotogdrive:hover{
    background-color: lightgray;
}
#finalcol{
    background-color: #F8F9FA;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0px;
}
#finalcolhead{
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: initial;
    line-height: 28px;
    color: #202124;
    padding: 50px;
}
.finalcolcontent{
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: none;
    color: #5f6368;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
    padding-left: 50px;
    padding-right: 50px;
}
.finalcolcontent:hover{
    background-color: lightgray;
}
#lastgoogle{
    color: #681DA8;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 18px;
    border-top: 1px solid lightgray;
    padding-top: 20px;
    cursor: pointer;
}
#lastbuttons{
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 16px;
    padding:20px;
    color: #5f6368;
    cursor: pointer;
    transition: 0.5s;
}
#lastbuttons:hover{
    background-color: lightgray;
}
